<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My e-paper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="title">
      <a href="{{ url_for('index') }}" class="home-link">My e-paper</a>
    </div>
    <div class="controls">

      <input type="date" id="datePicker" value="{{ date }}">
      
      <select id="districtPicker">
        {% for d in districts %}
          <option value="{{ d.name }}" {% if d.name == district %}selected{% endif %}>{{ d.name }}</option>
        {% endfor %}
      </select>
      <a href="{{ url_for('index') }}" class="header-btn">Home</a>
      {% if session.admin %}
        <a href="{{ url_for('manage') }}" class="header-btn">Manage</a>
        <div class="dropdown">
          <span class="header-btn">{{ session.admin_name }}</span>
          <div class="dropdown-content">
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>

      {% elif session.user_id %}
        <div class="dropdown">
          <span class="header-btn">{{ session.username }}</span>
          <div class="dropdown-content">
            <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>

      {% else %}
        <a href="{{ url_for('login') }}" class="header-btn">Login</a>
      {% endif %}
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>