{% extends "layout.html" %}
{% block content %}
<div class="auth-container">
  <div class="register-box">
    <h2>Register {{ role }}</h2>
    <form method="POST" class="auth-form">
      <input type="text" name="username" placeholder="Username" class="auth-input" required>
      <input type="email" name="email" placeholder="Email" class="auth-input" required>
      <input type="text" name="phone" placeholder="Phone" class="auth-input" required>
      
      <div class="password-wrapper">
        <input type="password" name="password" placeholder="Password" class="auth-input" id="regPassword" required>
        <span class="toggle-password" onclick="togglePassword('regPassword', this)">👁</span>
      </div>
      
      <button type="submit" class="auth-btn">Register</button>
    </form>
  </div>
</div>
{% endblock %}
